.product-card{
  border : 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 350px;
  border-radius: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  position : relative;
  height: fit-content;
}

.product-description{
  padding: 0 10px;
}

.product-image-container{
  position: relative;
  border : 1px solid black;
  border-radius : 25px 25px 0 0;
  background-color : #EE8b8b;
}

.content-card{
  display: flex;
  flex-direction: column;
  height : 100%;
  justify-content: space-between;
}

.img-product{
  width : 60%;
}

.category-product{
  position : absolute;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color : white;
  font-weight: bold;
}

.price-rating-product{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.price-product{
  font-weight: bold;
}

.favorite-button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin : 8px;
  text-align: center;
}

.product-actions button, .product-notation button {
  background-color: transparent;
  background-image: linear-gradient(#fff, #f5f5fa);
  border: 0 solid #003dff;
  border-radius: 9999px;
  box-shadow: rgba(37, 44, 97, .15) 0 4px 11px 0, rgba(93, 100, 148, .2) 0 1px 3px 0;
  box-sizing: border-box;
  color: #484c7a;
  cursor: pointer;
  display: inline-block;
  font-family: Hind, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin: 4px 4px 10px 4px;
  padding: 16px 24px;
  text-align: center;
  text-decoration: inherit;
  text-wrap: nowrap;
  transition: all .2s ease-out;
  transition-behavior: normal;
  white-space-collapse: collapse;
  line-height: 1.15;
}

.product-actions button:hover, .product-notation button:hover {
box-shadow: rgba(37, 44, 97, .15) 0 8px 22px 0, rgba(93, 100, 148, .2) 0 4px 6px 0;
}

button:disabled {
cursor: not-allowed;
opacity: .5;
}

.product-meta{
  display: flex;
  justify-content: space-evenly;
}

.product-buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.product-stock{
  margin : 5px;
}
