.product-card{
  border : 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 350px;
  border-radius: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  position : relative;
  height: fit-content;
}

.product-description{
  padding: 0 10px;
}

.product-image-container{
  position: relative;
  border : 1px solid black;
  border-radius : 25px 25px 0 0;
  background-color : #EE8b8b;
}

.content-card{
  display: flex;
  flex-direction: column;
  height : 100%;
  justify-content: space-between;
}

.img-product{
  width : 60%;
}

.category-product{
  position : absolute;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  color : white;
  font-weight: bold;
}

.price-rating-product{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.price-product{
  font-weight: bold;
}

.favorite-button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  margin : 8px;
  text-align: center;
}

.product-actions button, .product-notation button {
  padding: 16px 24px;
}

button:disabled {
cursor: not-allowed;
opacity: .5;
}

.product-meta{
  display: flex;
  justify-content: space-evenly;
}

.product-buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.product-stock{
  margin : 5px;
}
