h1,
.body-content-without-product{
  text-align: center;
  margin : 50px;
}

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin : 20px;
}

.aside {
  width : 40%;
}

.product-list {
  width : 55%;
}

.divider {
  border-bottom: 1px solid lightgray;
  margin : 0 5px;
}
