.list-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  margin: 5px;
}

.list-item{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
