.product-body{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-list-container{
  width: 83%;
}

.cart{
  width : 17%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: #f1e6e6;
}

.list-product{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
