<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
  <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Produits</a>
  <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Utilisateurs</a>
  <a routerLink="/cart" routerLinkActive="active">Panier</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/bean" routerLinkActive="active">Haricot</a>
  <a routerLink="/about" routerLinkActive="active">À propos</a>
  <a routerLink="/settings" routerLinkActive="active">Paramètres</a>
  <a routerLink="/auth/login" routerLinkActive="active">Connexion</a>
</nav>
