.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.infos-and-buttons-of-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin: 0 10px 10px 0;
}

h2{
  margin: 20px auto;
}

.title-product button{
  border: none;
  background: none;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width : 100%;
}

button {
  padding : 10px 18px;
}
