<div class="container">
  <h2>Mon panier :</h2>
  @if (productsInCart().length > 0) {
    <div class="infos-and-buttons-of-cart">
      <p>Nombre d'article dans le panier : {{productsInCart().length}}</p>
      <div class="actions">
        <button routerLink="/cart">Acheter</button>
        <button (click)="clearCart()">Vider le panier</button>
      </div>
    </div>
  }
  <div>
    @for (product of productsInCart(); track product.product.id) {
      <app-cart-item [cartItem]="product"></app-cart-item>
    }
  </div>
  <p><strong>Prix total : </strong>{{totalPriceOfProducts()}}€</p>
</div>
